
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlbertslundForsyning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AlbertslundForsyning</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Forside</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="About">Om os</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TAO">Fjernvarme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Databehandling">Databehandling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt os</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        


                        <li class="nav-item">
                            @if (Model.User is not null)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserPage">Profil</a>
                            } else {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp">Opret bruger</a>
                            }
                            
                        </li>
                        <li class="nav-item">
                            @if (Model.User is not null)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Log ud</a>
                            } else {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Log ind</a>
                            }
                            
                        </li>    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main style="padding-bottom: 120px;" role="main" class="">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted p">
        <div class="row">
            <div class="col-10 text-center">
                &copy; 2021 - AlbertslundForsyning - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            
            <div class="col-2">
                <div class="flot-right" id="google_translate_element"></div>
            </div>
            
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>