@{
ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h3 class="display-4">Albertslund varmeværk</h3>
            <h5 class="mt-5">Albertslund varmeværk er en af byens centrale bygninger, der distribuerer fjernvarme ud til hele Albertslund, døgnet rundt, året rundt</h5>
            <p class="mt-3">
                Varmeværket har en lang tradition i Albertslund. Den første hal blev bygget i 1964 og var sammen med S-stationen grundlaget for at bygge tusindvis af boliger i syd og vest.
            </p>
            <p>
               I starten blev der fyret med affald, kul og olie - for senere at få lagt naturgas ind. 
            </p>
            <p>
               I dag er Varmeværket fuldt ud i stand til at varme byen op med naturgas, men kedlerne bliver sjældent brugt. De fungerer som reserve- og spidslastkedler for VEKS - Vestegnens Kraftvarme Selskab. 
            </p>
            <h5>Facts om Varmeværket</h5>
            <p>
               Leverer fjernvarme, TAO-lejeordning, energitilskud, energirådgivning, udebelysning, lokale vejrdata, måleraflæsning af varme og vand, sekretærarbejde for Brugergruppen, etc. 
            </p>
            <li>
                129 MW kedeleffekt, hvilket svarer til 6-7.000 oliefyr
            </li>
            <li>
                20 medarbejdere
            </li>
            <li>
                380 km rørledninger
            </li>
            <li>
                8.000 m3 fjernvarmevand i cirkulation
            </li>
            <li>
                100 % ejet af Albertslund Kommune, politisk styret af Kommunalbestyrelsen og Brugergruppen, administreret som en del af Miljø & Teknik i Albertslund Kommune
            </li>
            <li>
                87 meter høje skorstene
            </li>
            <li>
                Samarbejder med utallige andre kommuner, varmeværker, universiteter, boligforeninger, branchefællesskaber, styrelser og lande.
            </li>
            <p>Albertslund Forsyning: Vognporten 9, 2620 Albertslund</p>
            <p>CVR 66137112</p>
            <p>P-nummer 1003267160</p>            
        </div>
    </div>
</div>