@{
ViewData["Title"] = "";
}

<div class="container">
    <div>
        <h3 class="display-4 mt-5">Behandling af data</h3>
        
        <h5 class="mt-5">Læs mere om hvordan vi behandler data i Albertslund Forsyning</h5>
        <p>
            Albertslund Forsyning er ikke et selskab, men drives som en del af Afdelingen for Miljø & Teknik i Albertslund Kommune. Det vil sige, at de retningslinjer der gælder for kommunen i almindelighed vedrørende behandling af data også er gældende for medarbejderne i Albertslund Forsyning.
            Albertslund Forsyning håndterer en masse data året rundt, herunder især data der knytter sig til fjernvarmeforbrug: Målernummer, varmeforbrug, temperaturer, vandgennemstrømning. I løbet af 2018 og 2019 skiftes samtlige varmemålere, så man kontinuerligt kan indsamle data med henblik på optimering af varmeforbrug. Det gælder optimering for varmebrugeren i form af en lavere varmeregning og det gælder optimering for forsyningen i form af en mere effektiv drift af fjernvarmesystemet.
        </p>

        <h5 class="mt-5">Personoplysninger i forbindelse med afregning og kommunikation</h5>
        <p>
            Alle fjernvarmebrugere er registreret i KMD Easy Energy med navn, adresse og CPR-numre. CPR-numrene har især den fordel, at man via nemkonto kan overføre penge, så man er sikker på, at de når frem til rette vedkommende. Ved skifte af bank skal man ikke foretage sig noget som varmebruger. CPR-numre anvendes ligeledes til udbetaling af tilskud til energibesparelser som led i opfyldelsen af varmeværkets energispareforpligtelse. Endelig anvendes CPR-numre til inddrivelse af restancer.
            Aconto-regninger, flytteafregninger og årsopgørelser sendes til e-boks ved hjælp af CPR-numre. Er man fritaget fra e-boks gør systemet, at meddelelsen automatisk udskrives og sendes med post.
            CPR-numre benyttes også lejlighedsvist til at sende andre vigtige beskeder til e-boks, samt i forbindelse med energisparekampagner. Et eksempel herpå er udsendelse af breve til ”Røde forbrugere”, hvor der er registreret et ekstra højt varmeforbrug hos varmebrugeren. Kommunikation via e-boks er langt hurtigere og langt billigere end udsendelse af papirpost.
        </p>
        <h5 class="mt-5">Målerdata og adresseoplysninger</h5>
        <p>
            Albertslund Forsyning registrerer målerdata i DFF-EDBs program Forsyning|FOF. Der er generelt ikke tilknyttet navneoplysninger og CPR-oplysninger til Forsyning|FOF. Målere og målerdata er registreret på adresser. Der er i visse tilfælde gemt billeder vedrørende teknik i de boliger, der er med på TAO-ordningen, hvor man lejer et varmeanlæg gennem forsyningen. Der ligger ligeledes en kopi af aftalen om overgang til TAO-ordningen mellem varmebrugeren og varmeværket.
            Data fra Forsyning|FOF overføres til KMD Easy Energy, der som nævnt anvendes til afregning.
            Nogle varmekunder har allerede fået installeret fjernaflæste varmemålere med et GSM-modul. Fra disse overføres målerdata dagligt til KMD’s EnergyKey. Programmet benyttes til rådgivning og optimering af drift. Der er ikke navneoplysninger og CPR-oplysninger i EnergyKey. Når alle målere i 2019 er skiftet overgår man fra at overføre målerdata via GSM-moduler og SMS til at benytte Wireless M-bus. Der etableres således en ”sky” over Albertslund som skaber kontakt til alle varmemålere i byen.
        </p>
        <h5 class="mt-5">SMS-beskeder og mails i forbindelse med brud og vedligehold</h5>
        <p>
            Albertslund Forsyning gør brug af Blue Ideas Beredskabsalarm.dk til at varsle ændringer i varmeforsyningen i tilfælde af brud eller planlagt vedligehold. Man kan som varmebruger selv registrere mailadresser og telefonnumre, der ikke fremgår af de officielle lister. Blue Idea vedligeholder og drifter Beredskabsalarm.dk. Når Albertslund Forsyning har udsendt beskeder kan forsyningens medarbejdere med adgang til systemet se hvem der er sendt til.
        </p>
        <h5 class="mt-5">Giv-et-praj</h5>
        <p>
            Albertslund Forsyning gør brug af Swecos Giv et praj-løsning, hvor man som borger eller virksomhed kan gøre forsyningen opmærksom på et problem i byen. Sweco drifter og vedligeholder Giv et praj.
        </p>
        <h5 class="mt-5">Opbevaring af persondata</h5>
        <p>
            I forbindelse med inddrivelse af restancer gemmes personsager i SBSYS, der er Albertslund Kommunes program til Elektronisk Sags- og Dokument-Håndtering (ESDH). SBSYS er drevet af en forening for fællesoffentligt samarbejde.
            Tilskudssager i forbindelse med energispareprojekter gemmes ligeledes i SBSYS.
        </p>
        <h5 class="mt-5">Databehandleraftaler</h5>
        <p>
            Der er indgået databehandleraftaler mellem de nævnte leverandører af IT-programmer og Albertslund Forsyning. For så vidt angår SBSYS er aftalen indgået for hele kommunen.
        </p>
        <h5 class="mt-5">Har du yderligere spørgsmål?</h5>
        <p>
            Kontakt Albertslund Forsyning ved yderligere spørgsmål og vi skal forsøge at besvare dem, så godt vi kan. 
        </p>
    </div>

</div>