@{
ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col mr-3 mt-5 text-center">
            <h3 class="display-4">Velkommen til Albertslund Forsyning</h3>
            <p class="mt-5">Her kan du finde information om fjernvarme og energibesparelser</p>
        </div>
        <div class="col ml-3">
            <img style="max-width: 100%;"
                src="https://d346xxcyottdqx.cloudfront.net/wp-content/uploads/2015/11/renewable-energy-in-North-America.jpg">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card" style="width: 18rem;">                
                <div class="card-body">
                    <h5 class="card-title">Rådgivning</h5>
                    <p class="card-text">
                        Få gratis energirådgivning hos vores energirådgivere. Du kan ringe og maile til os.
                    </p>
                    <a href="#" class="btn btn-primary">Læs mere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">                
                <div class="card-body">
                    <h5 class="card-title">Spar på energien</h5>
                    <p class="card-text">
                        Få øget komfort i din bygning og hjælp med at nedbringe byens og dit eget varmetab.
                    </p>
                    <a href="#" class="btn btn-primary">Læs mere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tilskud</h5>
                    <p class="card-text">
                            Albertslund Forsynings energitilskud udløb ved udgangen af 2020. 
                    </p>
                    <a href="/Home/IFrameTilskud" class="btn btn-primary">Læs mere</a>
                </div>
            </div>
        </div>
    </div>