@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h3 class="display-4">Skal du have udskiftet dit fjernvarmeanlæg?</h3>
            <h5 class="mt-5">TAO-ordningen er et tilbud om leje af fjernvarmetilslutningsanlæg</h5>
            <p class="mt-3">
                Du kan frivilligt leje dit næste tilslutningsanlæg af Albertslund Varmeværk, hvad enten du er rækkehusejer, villaejer, boligselskab eller indehaver af en erhvervsbygning.            </p>
            <p>
               TAO betyder Tilslutnings-Anlægs-Overtagelse. 
            </p>
            <p>
               Et tilslutningsanlæg er den teknik, der forbinder en bygnings varmefordelingsanlæg, dvs. radiatorer, evt. gulvvarme og varmtvandssystem - med det store fjernvarmenet under Albertslund.
            </p>
            <p>
                Lige siden fjernvarmen blev etableret i Albertslund i 1960'erne, har den enkelte bygningsejer ejet sit tilslutningsanlæg. 
            </p>
            <p>
            Bygninger med TAO-aftale overdrager ansvaret med at passe og servicere anlægget til Varmeværket. For det betales en fast årlig leje, opkrævet over varmeregningen.
            Fordelene er faste lave udgifter for dig - og bedre effektivitet for Varmeværket og den fælles fjernvarme i byen.
            Du slipper for afkølingstarif - til gengæld stiller vi krav til, at du har velfungerende termostatventiler og tilstrækkeligt store varmeflader, altså har tilstrækkeligt med radiatorer henholdsvis gulv- eller loftvarme-m2.
            Tilslutningsanlægget er et Termix VVX. Ønsker du et datablad med oplysninger om anlægget, kan du henvende dig via nedenstående kontaktformular.
            </p>    
            <p><a href="https://fjernvarme.albertslund.dk/media/1716058/varme-og-tao-takstblad-2019-albertslund-forsyning_.pdf">TAO takster</a></p>
            <p><a href="https://fjernvarme.albertslund.dk/media/1715584/tao-ordning-informationshaefte.pdf">Informationshæfte om TAO</a></p>
            <p><a href="https://fjernvarme.albertslund.dk/media/1713675/5580_ak_tilslutningsanlaeg-overtagelse_k5_v5_sommer_2017.pdf">Aftalegrundlag</a></p>
        </div>
    </div>
</div>